.about-container{
  max-width: 1200px;
  margin:auto;
  padding: 2rem 1rem;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about-text-content {
  width: 50%;
  padding-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.about-text-content-second{
  width: 50%;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.about-heading{
  font-size: 2.4rem;
  line-height: 2.25rem;
  color: #ff9abf;
  font-weight: 700;
  margin-bottom: 1.5rem; 
}

.about-text-container{
  margin-top: 1rem;
  color: #718096;
}

.about-image-container{
  width: 50%;
}

.image {
  object-fit: cover;
  border-radius: 0.5rem;
  aspect-ratio: 812/556;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
  .section-content {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .text-content>h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 768px) {
  .image-container {
    margin-top: 0;
  }
}

#pdg,
#community-text h1,
#community-text p {
  animation: cover-animation linear both;
  animation-timeline: view();
}

#pdg-text h1,
#pdg-text p,
#community {
  animation: entry-animation linear both;
  animation-timeline: view();
}

#pdg {
  animation-range: entry 10% cover 40%;
}

#pdg-text h1 {
  animation-range: entry 10% cover 30%;
}

#pdg-text p {
  animation-range: entry 10% cover 20%;
}

#community {
  animation-range: entry 30% cover 50%;
}

#community-text h1 {
  animation-range: entry 30% cover 40%;
}

#community-text p {
  animation-range: entry 20% cover 30%;
}

@keyframes entry-animation {
  0% {
    opacity: 0;
    translate: var(--entry-animation) 0;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes cover-animation {
  0% {
    opacity: 0;
    translate: var(--cover-animation) 0;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}