/* Breadcrumb Navigation */
.breadcrumb-link.light-mode {
  color: var(--link-color-light);
}

.breadcrumb-link.dark-mode {
  color: var(--link-color-dark);
}

/* Breadcrumb Navigation */
.breadcrumb-nav {
  font-size: 0.875rem; /* text-sm */
  margin-bottom: 1rem; /* mb-4 */
}

.breadcrumb-list {
  list-style: none; /* list-none */
  padding: 0; /* p-0 */
  display: inline-flex; /* inline-flex */
}

.breadcrumb-item {
  display: flex; /* flex */
  align-items: center; /* items-center */
}

.breadcrumb-link {
  color: var(--link-color); /* Custom property for dynamic color */
  text-decoration: none; /* Remove underline */
}

.breadcrumb-link:hover {
  text-decoration: underline; /* hover:underline */
}

.breadcrumb-icon {
  height: 1rem; /* h-4 */
  width: 1rem; /* w-4 */
  margin: 0 0.5rem; /* mx-2 */
}
