.calendar-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80dvw;
  max-width: 80vw;
  margin: 2rem;
}

.calendar-section-title {
  margin-bottom: 1rem;
}

.calendar-section-container {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-top: 2rem;
  padding: 1.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.react-calendar {
  background-color: #fdfdfd;
  border-radius: 0.4rem;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 5px 5px 10px 1px #ffe0fa;
  color: #292929;
  padding: 1rem;
  transition: transform 0.3s, opacity 0.3s;
  width: 800px;
}

.react-calendar__navigation {
  background: #ff9abf;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
  height: auto;
}

.react-calendar__navigation > button {
  color: #fefefe;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.react-calendar__navigation__label__labelText--from {
  font-size: 1.5rem;
  line-height: 2rem;
}

.react-calendar__navigation > button:enabled:hover {
  background: transparent;
  border-radius: 16px;
  color: #252525;
  transform: scale(1);
}

.react-calendar__navigation > span:enabled:hover {
  border: none;
}

.react-calendar__navigation > button:enabled:focus {
  background: #fefefe;
  border-radius: 0.3rem;
  border: 1px solid black;
  color: #3b3b3b;
}

.react-calendar__year-view__months {
  background-color: transparent;
}

.react-calendar__month-view__weekdays {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0.2rem 0;
  padding: 0.2rem;
  text-align: center;
}

.react-calendar__tile--hasActive {
  background: #ffddf0;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background-color: #ff5896;
  font-weight: 600;
}

.react-calendar__month-view__days {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(253, 216, 253, 0.329);
  border-radius: 0.3rem;
  border: 1px solid rgba(250, 183, 250, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/*BOTONES DE N° DIAS Y MESES*/
.react-calendar__tile {
  border: 1px solid #0000001a !important;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

abbr[title] {
  text-decoration: none !important;
}

.react-calendar__tile:enabled:hover {
  background-color: #fbcfe8;
}

.react-calendar__tile--now {
  background-color: #f9a8d4;
  font-weight: 600;
}

.react-calendar__tile--now:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: #ff5896 !important;
}

.react-calendar__tile--active {
  background-color: #f472b6;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #e4468d;
}

@media (max-width: 480px) {
  .react-calendar {
    width: 350px;
  }

  .react-calendar__navigation > button {
    font-size: 2rem;
    font-weight: 600;
  }

  .react-calendar__navigation__label__labelText--from {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .react-calendar__tile {
    font-size: 0.875rem;
  }

  abbr[title] {
    font-size: 0.875rem;
  }
}
