.accordion{
  width: 60dvw;
  width: 60vw;
}

.tabla-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  row-gap: 40px;
}

.user-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.user-subtitle {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.user-userName {
  color: #ffb9d7;
  text-transform: capitalize;
}

.table thead {
  --bs-table-bg: #ff9abf;
}

.accordion-header {
  text-align: center !important;
}

.accordion-button {
  font-size: 2rem !important;
  letter-spacing: 0.1rem;
  font-weight: 700;
  background-color: #ff9abf !important;
  color: #fefefe !important;
}

.tabla-turno-btn {
  border-radius: 10px;
  background-color: #ff9abf;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff !important;
  margin-top: 1rem;
}

.tabla-turno-btn:hover {
  background-color: #ffd3e6;
  box-shadow: 0px 4px 15px rgba(255, 197, 255, 0.8);
  transform: scale(1.05);
  color: #050505 !important;
  border: 1px solid #ff9abf;
}
